@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --white: #FEFFFF;
    --black: #0B0B0B;

    --pink: #fe32ad;
    --whitePink: #FFD7D7;
    --purple-pink: #5B1F3D;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex !important;
    flex-direction: column;
    min-height: 100%;
    background-color: ghostwhite !important;
}

main {
    margin-top: 6.4rem;
}

.navbar {
    display: flex;
    position: fixed !important;
    background-color: var(--purple-pink) !important;
    padding: 1rem;
    width: 100%;
    z-index: 10;
}

.logo {
    min-width: 8rem !important;
    max-width: 20%;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar-brand {
    min-width: 8rem;
    max-width: 15%;
    margin-inline: 1rem;
    cursor: pointer;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-items {
    margin-inline: 1rem 0;
    display: flex;
    align-items: center;
    height: max-content;
    margin-bottom: 0;
}

.nav-items>li {
    margin: .5rem;
    width: 6rem;
    height: 4rem;
    display: grid;
    justify-content: center;
}

.item {
    color: var(--pink);
    background-color: var(--white);
    padding: .5rem;
    border-radius: .25rem;
    width: 6rem;
    height: 4rem;
    display: grid;
    align-items: center;
    text-align: center;
}

.item:hover,
.active {
    border-radius: 0 0 1rem 0;
}

a {
    transition: .3s ease !important;
}

a:hover:not(.page, .logo),
.active,
#form-button:hover {
    color: var(--white) !important;
    background-color: var(--pink);
    transform: scale(1.1);
    box-shadow: -2px 2px var(--whitePink);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    border-radius: 0px !important;
    border-bottom: 2px solid var(--pink) !important;
    color: var(--white);
    background-color: var(--purple-pink);
}

h1 {
    text-shadow: -1px 1px var(--pink);
}

.page {
    font-size: 3rem;
    padding-inline: 1.5rem;
    align-self: center;
    color: var(--white);
    margin: auto 1rem;
    height: 100%;
}

.page:hover {
    color: var(--pink) !important;
    transform: scale(1.1);
}

.title-nav {
    text-align: center;
}

.wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: center;
    justify-content: space-between;
    justify-items: initial;
    font-size: 1.2rem;
}

li {
    display: flex !important;
    gap: .2rem;
    align-items: center !important;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-block: auto;
    padding-block: 2rem;
    list-style-type: none;
    transition: .3s ease;
}

#categories input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--pink) !important;
    padding: 8px;
    border-radius: .25rem;
    color: var(--pink) !important;
    background-color: var(--white) !important;
}

#categories input[type="checkbox"]:checked {
    background-position: 0px -24px;
    background-color: var(--pink) !important;
    border-radius: 1rem;
}

#categories label {
    color: var(--purple-pink);
    padding: .2rem .4rem;
    background-color: transparent;
    cursor: pointer;
}

label {
    margin: 0 !important;
}

input {
    outline: none !important;
    border-color: transparent !important;
    font-family: 'Oswald', sans-serif !important;
    transition: .3s ease !important;
}

.checkbox:checked+label {
    color: var(--pink) !important;
    background-color: #FFD7D7 !important;
}

#search-bar>input {
    height: 3rem;
    width: 100%;
    border-radius: 100vmax 100vmax 100vmax 0;
    border: none;
    text-align: center;
    color: var(--white);
    background-color: var(--pink);
    box-shadow: -3px 3px var(--whitePink);
}

#search-bar>input:focus {
    color: var(--pink);
    border: 2px solid var(--pink) !important;
    background-color: var(--white);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2% auto;
    align-self: center;
    justify-content: center;
}

.card {
    width: 18rem;
    margin-block: .5rem;
    border-radius: 0 0 35px 0 !important;
    text-align: center;
    box-shadow: -3px 3px var(--whitePink);
    border: 2px solid var(--pink) !important;
}

.card-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0 !important;
    border-bottom: 2px solid var(--pink) !important;
}

.card-title,
.card-title-details {
    padding: .3rem;
    color: var(--pink);
    margin: 0 !important;
}

.card-title-details {
    background-color: var(--pink);
    color: var(--white) !important;
    padding-block: 1rem;
}

.title-container {
    padding-block: .5rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    background-color: var(--purple-pink);
    border-bottom: 3px solid var(--whitePink);
}

.title-container>.card-title {
    padding: .5rem 1rem;
    border-radius: .25rem;
}

.card-body {
    margin-block: 0 .5rem;
    padding: .5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-body h6 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0 .2rem;
    width: max-content;
}

.card-text {
    margin-block: auto;
    padding-block: 1rem;
    font-size: 1.2rem;
}

.colorText {
    color: var(--pink) !important;
    font-size: 1.2rem;
}

.card-data {
    margin-top: auto;
    margin-bottom: .7rem;
    margin: 1rem 0 !important;
}

.card-data p,
.colorText {
    padding: .3rem .5rem;
    margin: 0;
}

.btn {
    background-color: var(--pink) !important;
    font-size: 1.5rem !important;
}

.btn-primary {
    border: none !important;
}

.form {
    margin: 4% auto;
    width: 40%;
    min-height: 21rem;
    text-align: center;
    font-size: 1.2rem;
}

.form-container {
    display: grid;
    gap: .5rem;
}

.form-group {
    position: relative;
}

.form-input {
    width: 100%;
    outline: none;
    height: 4rem;
    border-radius: 100vmax 100vmax 100vmax 0;
    padding: .5rem 1.5rem;
    text-indent: 2.2rem;
    border: none;
    border: 2px solid var(--pink) !important;
}

.form-label {
    color: var(--purple-pink);
    background-color: var(--white);
    padding-right: .2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 13px;
    transform: translateY(18px);
}

#message {
    text-indent: 3.8rem;
    border-radius: 15px 15px 15px 0;
    height: 8rem;
    transform: translateY(8px);
    resize: none;
}

.form-input:focus+.form-label {
    color: var(--pink);
}

#form-button {
    font-size: 1.5rem;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: .25rem;
    color: var(--white);
    background-color: var(--pink);
    margin-left: auto;
}

.table {
    margin: 2% auto !important;
}

.table tbody {
    border: none !important;
}

th {
    background-color: var(--pink);
    color: var(--white);
    border: 1px solid var(--purple-pink) !important;
    font-size: 1.2rem;
}

.td-title {
    font-weight: 500;
    font-style: italic;
}

td {
    width: 33%;
    color: var(--purple-pink);
    background-color: var(--white);
    border: 1px solid var(--purple-pink) !important;
    text-align: center;
}

.div-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details-container {
    border-radius: 10px;
    border: 3px solid var(--pink);
    box-shadow: -4px 4px var(--whitePink);
    width: 70%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.details-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.details-section {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
}

.details-section>.card-title {
    font-size: 2rem;
}

.details-section .card-subtitle {
    font-size: 1.5rem;
    padding: 1rem;
    margin-block: 0 .5rem;
    background-color: var(--purple-pink);
}

.details-section .card-text {
    font-size: 1.3rem;
}

.details-container .price-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.price-container p {
    margin: 0 !important;
}

.details-container p {
    margin-block: 0 auto;
    background-color: #5B1F3D80;
    border-bottom: 3px solid var(--whitePink);
    width: max-content;
    backdrop-filter: blur(10px);
    text-shadow: -1px 1px var(--purple-pink);
    padding: 1rem;
    width: initial;
    font-size: 1.2rem;
}

.details-container h6 {
    font-size: 2rem;
    background-color: var(--pink);
    padding: 1rem;
    margin: 0;
}

.details-container .title-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 1rem;
}

.details-container span {
    color: var(--pink);
}

.details-container #date {
    top: 1.7rem;
    right: 1.5rem;
    background-color: #FFD7D790 !important;
}

.details-container .card-data {
    display: flex !important;
}

.details-footer>.title-container {
    border: none !important;
}

#date {
    position: absolute;
    width: max-content;
    padding: .5rem;
    top: .2rem;
    right: .2rem;
    color: var(--white);
    background-color: #5B1F3D90 !important;
}

#assistance {
    font-size: 1.2rem;
    margin-block: auto;
}

.navbar-burguer {
    width: 100%;
    height: 100%;
    cursor: pointer;
    float: inline-end;
    font-size: 2.5rem !important;
    color: var(--whitePink);
}

.toggle-menu {
    position: absolute;
    display: none;
}

.toggle-menu-checkbox-show {
    display: none;
}

.toggle-menu-checkbox-show:checked+.nav-items {
    transform: translateY(0);
}

footer {
    width: 100%;
    padding: .5rem 1.5rem;
    color: var(--white);
    background-color: var(--purple-pink);
    border-top: 2px solid var(--pink);
    margin-top: auto;
}

.footer-container {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container h3 {
    margin-right: 3rem;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.s-link {
    font-size: 1.5rem;
    border-radius: 100vmax;
    height: 3rem;
    width: 3rem;
    margin-inline: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--pink);
}

#no-content {
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#no-content h2 {
    background-color: var(--purple-pink);
    padding: .5rem;
}

.fa-exclamation-triangle {
    margin-block: .5rem;
    padding: 2rem;
    font-size: 5rem !important;
    border-radius: 100vmax;
    background-color: var(--purple-pink);
}

@media screen and (max-width: 768px) {

    main {
        margin-top: 4rem;
    }

    .toggle-menu {
        display: block;
        top: .5rem;
        right: 1rem;
        width: 3rem;
        cursor: pointer;
        z-index: 3;
    }

    .nav-items {
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding-block: 3rem;
        margin: 0 auto;
        background-color: #5B1F3D80 !important;
        backdrop-filter: blur(10px);
        transform: translateY(-150%);
        z-index: 3;
        left: 0;
        top: 3.4rem;
        border-radius: 0 0 5rem 5rem !important;
    }

    .nav-items>li {
        width: 100%;
        margin: .2rem;
    }

    .item {
        font-size: 2rem;
        height: 4rem;
        width: 90vw;
    }

    .form-label {
        transform: translateY(21px);
    }

    a,
    #form-button {
        transform: scale(.8);
    }

    a:hover:not(.page),
    .active,
    #form-button:hover {
        transform: scale(1);
    }

    .top-nav {
        z-index: 5 !important;
        background-color: var(--purple-pink) !important;
    }

    .nav-items {
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding-block: 3rem;
        margin: 0 auto;
        background-color: #5B1F3D80 !important;
        backdrop-filter: blur(10px);
        transform: translateY(-150%);
        z-index: 3;
        left: 0;
        top: 3.4rem;
        border-radius: 0 0 5rem 5rem !important;
    }

    .nav-items>li {
        width: 100%;
        margin: .2rem;
    }

    .item {
        font-size: 2rem;
        height: 4rem;
        width: 90vw;
    }

    .pagination {
        height: 7rem;
    }

    .page {
        padding: 0;
        height: auto;
        margin: auto;
    }

    .search-wrapper {
        grid-template-columns: auto;
        margin-inline: auto;
    }

    #categories {
        justify-content: center;
    }

    #categories>li>label {
        font-size: 1rem !important;
    }

    .title-container>.card-title {
        padding: .5rem;
    }

    .card {
        width: 90%;
    }

    .form {
        width: 80%;
        margin-block: 10%;
    }

    .table td,
    .table th {
        padding: .75rem .1rem !important;
    }

    .div-container {
        margin-top: 1.5rem;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        margin-block: 1rem;
        width: 100%;
        height: 100%;
    }

    .details-container #date {
        position: initial;
        margin-inline: auto;
        margin-block: .5rem;
        background-color: #5B1F3D90 !important;
    }

    .details-container .card-text {
        margin-block: .5rem auto;
    }

    .price-container {
        flex-direction: column !important;
        gap: .5rem;
    }

    .footer-container h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    .s-link {
        height: 2rem;
        width: 2rem;
    }
}